= form_for([:admin, @user]) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name

  .field
    = f.label :last_name
    = f.text_field :last_name

  .field
    = f.label :email
    = f.email_field :email

  .field
    = f.label :password
    = f.password_field :password, 'data-tooltip' => [ t("leave blank if you don't want to change it"), t('minimal 6 characters long') ].to_json

  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  .field
    = f.label :role_ids, t('Roles')
    = f.collection_select :role_ids, Role.all, :id, :name, {}, { :multiple => true }

  .actions
    = f.submit t('Save')
