- title 'Users overview'

%table.datatable
  %thead
    %tr
      %th= t 'First Name'
      %th= t 'Last Name'
      %th= t 'E-mail'
      %th= t 'Roles'
      %th= t 'Last Login'
      %th= t 'Last IP'
      %th= t 'Actions'

  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.get_roles
        %td= user.last_sign_in_at ? l(user.last_sign_in_at) : t('Never log in')
        %td= user.last_sign_in_ip
        %td
          - if can? :read, user
            = link_to t('Show'), resource_path(user)
          - if can? :update, user
            = link_to t('Edit'), edit_resource_path(user)
          - if can? :destroy, user
            = link_to t('Destroy'), resource_path(user), :confirm => t('Are you sure?'), :method => :delete

- if can? :create, User
  = link_to t('New user'), new_resource_path
