- title 'User "%{title}"', :title => @user.fullname

%strong= t('First Name') + ':'
= @user.first_name

%br

%strong= t('Last Name') + ':'
= @user.last_name

%br

%strong= t('E-mail address') + ':'
= @user.email

%br

%strong= t('Roles') + ':'
= @user.get_roles

%br

%strong= t('Last Login') + ':'
= @user.last_sign_in_at

%br

%strong= t('Last IP') + ':'
= @user.last_sign_in_ip

%br

- if can? :update, @user
  = link_to t('Edit'), edit_resource_path(@user)
- if can? :read, User
  = link_to t('Back'), collection_path
