- content_for :javascripts do
  :javascript
    $().ready(function() {
      $('#elfinder').elfinder({
        url: '#{admin_elfinder_path}',
        lang: 'sk',
        docked: true
      })
    })

#elfinder
