- title 'Change your password'

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form with-margin' }) do |f|
  = hidden_field_tag :commit
  = devise_error_messages!
  = f.hidden_field :reset_password_token

  %p.inline-small-label
    = f.label :password, content_tag(:span, t('New password'), :class => :big)
    = f.password_field :password, { :class => 'full-width' }

  %p.inline-small-label
    = f.label :password_confirmation, content_tag(:span, t('Confirm new password'), :class => :big)
    = f.password_field :password_confirmation, { :class => 'full-width' }

  %button{ :type => 'submit', :class => 'float-right' }= t('Change my password')

.clear
%br

= render :partial => "engined_cmf/devise/shared/links"
