- content_for(:javascripts_inline) do
  :javascript
    $(document).ready(function() {
      // We'll catch form submission to do it in AJAX, but this works also with JS disabled
      $('#user_new').submit(function(event) {
        // Stop full page load
        event.preventDefault();

        // Check fields
        var login = $('#user_email').val();

        if (!login || login.length == 0) {
            $('#login-block').removeBlockMessages().blockMessage('#{t 'Please enter your e-mail'}', {type: 'warning'});
        } else {
          var submitBt = $(this).find('button[type=submit]');
          submitBt.disableBt();

          // Target url
          var target = $(this).attr('action');
          if (!target || target == '') {
            // Page url without hash
            target = document.location.href.match(/^([^#]+)/)[1];
          }

          // Request
          var data = {
            'user[email]': login
          };

          $(this).find('input[type="hidden"]').each(function() {
            data[$(this).attr('name')] = $(this).val();
          });

          // Start timer
          var sendTimer = new Date().getTime();

          // Send
          $.ajax({
            url: target,
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function(data, textStatus, XMLHttpRequest) {
              $('#login-block').removeBlockMessages().blockMessage('#{t 'Message was sent to your e-mail'}', {type: 'success'});
              submitBt.enableBt();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              $('#login-block').removeBlockMessages().blockMessage('#{t "E-mail address not found or account wasn't locked"}', {type: 'error'});
              submitBt.enableBt();
            }
          });

          // Message
          $('#login-block').removeBlockMessages().blockMessage('#{ t 'Please wait, checking e-mail...'}', {type: 'loading'});
        }
      });
    });

- title 'Resend unlock instructions'

= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form with-margin' }) do |f|
  = hidden_field_tag :commit
  = devise_error_messages!

  %p.inline-small-label
    = f.label :email, content_tag(:span, t('E-mail'), :class => :big)
    = f.email_field :email, { :class => 'full-width' }

  %button{ :type => 'submit', :class => 'float-right' }= t('Send')

.clear
%br

= render :partial => "engined_cmf/devise/shared/links"
