- content_for :javascripts do
  = render 'engined_cmf/shared/tinymce'

= form_for([:admin, @reference]) do |f|
  - if @reference.errors.any?
    #error_explanation
      %h2
        = pluralize(@reference.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @reference.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :page do |pf|
    .field
      = pf.label :title
      = pf.text_field :title, :class => 'page-title'

    .field
      = pf.label :alias
      = pf.text_field :alias, :class => 'page-alias'
      %a{ :class => 'page-alias-generate' }= t 'Generate'

    .field
      = f.label :city
      = f.text_field :city

    .field
      = f.label :image
      = f.text_field :image
      %a{ :class => 'file-selector', :data => { :filter => '(png|gif|jpg)$', 'filter-message' => t('Allowed are only images with suffix png, gif, jpg') } }= raw t('Browse') + '&hellip;'

    .field
      = f.label :short_content
      = f.text_area :short_content, :class => 'tinymce'

    .field
      = pf.label :content
      = pf.text_area :content, :class => 'tinymce'

    .field
      = pf.label :published_true, 'Published?'
      = pf.radio_button :published, true
      = pf.label :published_true, t('Yes')
      = pf.radio_button :published, false
      = pf.label :published_false, t('No')

    .field
      = pf.label :published_from
      = pf.text_field :published_from, { :class => 'datetimepicker' }

    .field
      = pf.label :published_to
      = pf.text_field :published_to, { :class => 'datetimepicker' }

    .field
      = pf.label :meta_author
      = pf.text_field :meta_author

    .field
      = pf.label :meta_keywords
      = pf.text_area :meta_keywords

    .field
      = pf.label :meta_description
      = pf.text_area :meta_description

    .field
      = pf.label :meta_robots
      = pf.text_field :meta_robots

  .actions
    = f.submit t('Save')
