- title 'Edit "%{title}"', :title => @reference.title

= render 'form'

- if can? :read, @reference
  = link_to t('Show'), resource_path(@reference)
- if can? :read, Reference
  = link_to t('Back'), collection_path
