- title 'References overview'

%table.datatable
  %thead
    %tr
      %th= t 'Id'
      %th= t 'Title'
      %th= t 'City'
      %th= t 'Author'
      %th= t 'Created'
      %th= t 'Published?'
      %th= t 'Actions'

  %tbody
    - @references.each do |reference|
      %tr
        %td= reference.id
        %td= reference.page.title
        %td= reference.city
        %td= reference.page.user.fullname
        %td= l reference.page.created_at
        %td= reference.page.published ? t('Yes') : t('No')
        %td
          - if can? :read, reference
            = link_to t('Show'), resource_path(reference)
          - if can? :update, reference
            = link_to t('Edit'), edit_resource_path(reference)
            = link_to t('Galery'), admin_reference_images_path(reference)
          - if can? :destroy, reference
            = link_to t('Destroy'), resource_path(reference), :confirm => t('Are you sure?'), :method => :delete

-if can? :create, Reference
  = link_to t('New reference'), new_resource_path
