- title 'Reference "%{title}"', :title => @reference.title

%strong= t('Title') + ':'
= @reference.page.title

%br

%strong= t('Alias') + ':'
= @reference.page.alias

%br

%strong= t('City') + ':'
= @reference.city

- unless @reference.image.blank?
  %br

  %strong= t('Main image') + ':'
  %img{ :src => thumbnail_image_path(@reference.image, 300, 0, 3) }

%br

%strong= t('Short content') + ':'
= strip_tags @reference.short_content

%br

%strong= t('Content') + ':'
= truncate strip_tags(@reference.page.content), :length => 300, :separator => ' '

%br

%strong= t('Published?')
= @reference.page.published ? t('Yes') : t('No')

- if @reference.page.published_from
  %br
  %strong= t('Published from') + ':'
  = l @reference.page.published_from

- if @reference.page.published_to
  %br
  %strong= t('Published to') + ':'
  = l @reference.page.published_to

%br

%strong= t('Created') + ':'
= l @reference.page.created_at

%h2= t 'Meta information'
%strong= t('Meta description') + ':'
= @reference.page.meta_description

%br

%strong= t('Meta keywords') + ':'
= @reference.page.meta_keywords

%br

%strong= t('Meta author') + ':'
= @reference.page.meta_author

%br

%strong= t('Meta robots') + ':'
= @reference.page.meta_robots

%br

- if can? :edit, @reference
  = link_to t('Edit'), edit_resource_path(@reference)
  = link_to t('Galery'), admin_reference_images_path(@reference)
- if can? :read, Reference
  = link_to t('Back'), collection_path
