- content_for(:javascripts_inline) do
  :javascript
    $(document).ready(function() {
      // We'll catch form submission to do it in AJAX, but this works also with JS disabled
      $('#user_new').submit(function(event) {
        // Stop full page load
        event.preventDefault();

        // Check fields
        var login = $('#user_email').val();
        var pass = $('#user_password').val();

        if (!login || login.length == 0) {
            $('#login-block').removeBlockMessages().blockMessage('#{t 'Please enter your e-mail'}', {type: 'warning'});
        } else if (!pass || pass.length == 0) {
            $('#login-block').removeBlockMessages().blockMessage('#{t 'Please enter your password'}', {type: 'warning'});
        } else {
          var submitBt = $(this).find('button[type=submit]');
          submitBt.disableBt();

          // Target url
          var target = $(this).attr('action');
          if (!target || target == '') {
            // Page url without hash
            target = document.location.href.match(/^([^#]+)/)[1];
          }

          // Request
          var data = {
            'user[email]': login,
            'user[password]': pass,
          };

          $(this).find('input[type="hidden"]').each(function() {
            data[$(this).attr('name')] = $(this).val();
          });

          var redirect = '#{admin_root_path}'

          // Start timer
          var sendTimer = new Date().getTime();

          // Send
          $.ajax({
            url: target,
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function(data, textStatus, XMLHttpRequest) {
              if (data.user) {
                // Small timer to allow the 'cheking login' message to show when server is too fast
                var receiveTimer = new Date().getTime();
                if (receiveTimer-sendTimer < 500) {
                  setTimeout(function() {
                    document.location.href = redirect;
                  }, 500-(receiveTimer-sendTimer));
                } else {
                  document.location.href = redirect;
                }
              } else {
                // Message
                $('#login-block').removeBlockMessages().blockMessage(data.error || '#{ t 'An unexpected error occured, please try again'}', {type: 'error'});
                submitBt.enableBt();
              }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              // Message
              $('#login-block').removeBlockMessages().blockMessage('#{ t 'Error while contacting server, please try again'}', {type: 'error'});
              submitBt.enableBt();
            }
          });

          // Message
          $('#login-block').removeBlockMessages().blockMessage('#{ t 'Please wait, checking login...'}', {type: 'loading'});
        }
      });
    });

- title 'Sign in'

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form with-margin' }) do |f|
  = hidden_field_tag :commit
  %p.inline-small-label
    = f.label :email, content_tag(:span, t('E-mail'), :class => :big)
    = f.email_field :email, { :class => 'full-width' }

  %p.inline-small-label
    = f.label :password, content_tag(:span, t('Password'), :class => :big)
    = f.password_field :password, { :class => 'full-width' }

  %button{ :type => 'submit', :class => 'float-right' }= t('Sign in')

  - if devise_mapping.rememberable?
    %p.input-height
      = f.check_box :remember_me, { :class => 'mini-switch' }
      = f.label :remember_me, t('Remember me'), { :class => 'inline' }

= render :partial => "engined_cmf/devise/shared/links"
