= form_for([:admin, @role]) do |f|
  - if @role.errors.any?
    #error_explanation
      %h2
        = pluralize(@role.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :description
    = f.text_field :description

  - Permission.find_all_for_role.each do |subject_class, permissions|
    %fieldset
      %legend= t permissions[0].name
      - permissions.each do |perm|
        = check_box_tag 'role[permission_ids][]', perm.id, @role.has_permission?(perm), { :id => "permission_id_#{perm.id}"}
        = f.label :permissions, perm.position.to_i == 0 ? t(perm.description) : t(perm.name), :value => perm.id

  .actions
    = f.submit t('Save')
