- title 'Roles overview'

%table.datatable
  %thead
    %tr
      %th= t 'Name'
      %th= t 'Description'
      %th= t 'Actions'

  %tbody
    - @roles.each do |role|
      %tr
        %td= role.name
        %td= role.description
        %td
          - if can? :read, role
            = link_to t('Show'), resource_path(role)
          - if can? :update, role
            = link_to t('Edit'), edit_resource_path(role)
          - if can? :destroy, role
            = link_to t('Destroy'), resource_path(role), :confirm => t('Are you sure?'), :method => :delete

-if can? :create, Role
  = link_to t('New role'), new_resource_path
