- title 'Role "%{title}"', :title => @role.name

%strong= t('Name') + ':'
= @role.name

%br

%strong= t('Description') + ':'
= @role.description

%br

- if can? :edit, @role
  = link_to t('Edit'), edit_resource_path(@role)
- if can? :read, Role
  = link_to t('Back'), collection_path
