:javascript
  jQuery(function($) {
    $('textarea.tinymce').tinymce({
      // Location of TinyMCE script
      script_url : '#{root_path}tiny_mce/tiny_mce.js',

      // General options
      theme : "advanced",
      plugins : "pagebreak,style,layer,table,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",

      // Theme options
      theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect,|,cite,abbr,acronym,del,ins,|,help",
      theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,undo,redo,|,bullist,numlist,|,outdent,indent,blockquote,|,link,unlink,anchor,image,|,forecolor,backcolor,|,cleanup,code,preview",
      theme_advanced_buttons3 : "tablecontrols,|,advhr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,|,ltr,rtl,|,visualchars,nonbreaking,|,fullscreen",
      theme_advanced_buttons4 : "",
      theme_advanced_toolbar_location : "top",
      theme_advanced_toolbar_align : "left",
      theme_advanced_statusbar_location : "bottom",
      theme_advanced_resizing : true,

      // Elfinder
      file_browser_callback : function(field_name, url, type, win) {
        $('<div/>').elfinder({
          url: '#{admin_elfinder_path}',
          dialog: { width: 900, modal: true, title: 'Files', zIndex: 400001 },
          editorCallback: function(url) {
            win.document.forms[0].elements[field_name].value = url;
          }
        })
      },

      relative_urls: false,
      remove_script_host: true,
      document_base_url : '#{root_url}',

      language: 'sk'
    });
  });
