- title 'Profile'

%h5= t 'Last login'
%p= l @user.last_sign_in_at

%h5= t 'Last IP'
%p= @user.last_sign_in_ip

%h5= t 'E-mail address'
%p= @user.email

%h5= t('My roles') + ':'
%p= @user.get_roles.blank? ? t('You have no roles') : @user.get_roles

= render 'form'
