- content_for :stylesheets do
  = stylesheet_link_tag 'engined_cmf/jquery-ui.css', 'engined_cmf/elfinder.css', 'engined_cmf/960.gs.fluid', :cache => 'engined_cmf/cache.application'

- content_for :body do
  %header
    .container_12
      #skin-name
        %small
          Powered by
          %br
          Engined CMS
        %strong 1.0

  %nav#main-nav
    = render_navigation :context => :engined_cmf_main

  #sub-nav
    .container_12
      %a{ :href => "#", :title => t("Help"), :class => "nav-button" }
        %b= t('Help')

  #status-bar
    .container_12
      %ul#status-infos
        %li.spaced
          = t('Logged as') + ':'
          %strong= current_user.fullname
        %li
          %a{ :href => destroy_user_session_path, :class => 'button red' }
            %span= t 'Log Out'

      = render_navigation :context => :engined_cmf_main, :renderer => :engined_cmf_breadcrumbs, :container_id => :breadcrumb

  - flash.each do |key, msg|
    %div{ :class => key }
      = msg

  #header
    = content_for?(:content) ? yield(:content) : yield

= render :file => 'layouts/engined_cmf/base'
