!!! 5
%html
  %head
  %title= yield_for(:title, t('Welcome')) + ' | ' + t('Engined CMF')
  = stylesheet_link_tag 'engined_cmf/reset', 'engined_cmf/common', 'engined_cmf/form', 'engined_cmf/standard', :cache => 'engined_cmf/cache.base'
  - if Rails.env == 'development'
    = stylesheet_link_tag 'engined_cmf/debug'
  = yield :stylesheets
  = yield :stylesheets_inline
  = javascript_include_tag 'engined_cmf/html5', 'engined_cmf/jquery.min', 'engined_cmf/jquery-ui.min', 'engined_cmf/jquery_ujs', 'engined_cmf/elfinder/elfinder.min', '../tiny_mce/jquery.tinymce', 'engined_cmf/elfinder/i18n/elfinder.sk', 'engined_cmf/jquery.ui.timepicker', 'engined_cmf/i18n/jquery.ui.datepicker-sk', 'engined_cmf/old-browsers', 'engined_cmf/common', 'engined_cmf/standard', 'engined_cmf/jquery.tip', 'rails_routes', :cache => 'engined_cmf/cache.base'
  = yield :javascripts
  = javascript_include_tag 'engined_cmf/application', :cache => 'engined_cmf/cache.startup'
  = yield :javascripts_inline
  = csrf_meta_tag

  %body{ :class => content_for?(:body_class) ? yield(:body_class) : '' }
    /[if lt IE 9]
      :plain
        <div class="ie">
    /[if lt IE 8]
      :plain
        <div class="ie7">

    = content_for?(:body) ? yield(:body) : yield

    /[if lt IE 9]
      :plain
        </div>
    /[if lt IE 8]
      :plain
        </div>
