- content_for :stylesheets do
  = stylesheet_link_tag 'engined_cmf/special-pages', :cache => 'engined_cmf/cache.devise'

- content_for(:body_class) do
  special-page login-bg dark

- content_for :body do
  - unless flash.empty?
    %section#message
      .block-border
        .block-content.no-title.dark-bg
          - flash.each do |key, msg|
            %p.mini-infos= msg

  %section#login-block
    .block-border
      .block-content
        %h1= t 'Admin'

        .block-header= yield(:title)

        = content_for?(:content) ? yield(:content) : yield


= render :file => 'layouts/engined_cmf/base'
