= form_for([:admin, parent, @image]) do |f|
  - if @image.errors.any?
    #error_explanation
      %h2
        = pluralize(@image.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :url
    = f.text_field :url
    %a{ :class => 'file-selector', :data => { :filter => '(png|gif|jpg)$', 'filter-message' => t('Allowed are only images with suffix png, gif, jpg') } }= raw t('Browse') + '&hellip;'

  .actions
    = f.submit t('Save')
