- title 'Images of "%{title}"', :title => parent.title

%table.datatable
  %thead
    %tr
      %th= t 'Id'
      %th= t 'Name'
      %th= t 'URL'
      %th= t 'Actions'

  %tbody
    - @images.each do |image|
      %tr
        %td= image.id
        %td= image.name
        %td= image.url
        %td
          - if can? :update, parent
            = link_to t('Destroy'), resource_path(image), :confirm => t('Are you sure?'), :method => :delete

- if can? :read, parent
  = link_to t('Back'), parent_path
- if can? :update, parent
  = link_to t('New image'), new_resource_path
